body {
	background-color: #ccc;
	padding: 5px;
}
.mpaa {
	border: solid 1px #fff;
	box-shadow: 2px 2px 2px #555;
	margin: 5px auto 0;
	max-width: 80%;
	padding: 5px 0;
	position: relative;
}
.mpaa.not-rated {
	background-color: #008;
}
.mpaa.rapist {
	display: none;
	background-color: #D87304;
}
.rated-rapist .mpaa.rapist {
	display: block;
}
.mpaa.rapist-free {
	display: none;
	background-color: #016301;
}
.rated-rapist-free .mpaa.rapist-free {
	display: block;
}
.mpaa p {
	color: #fff;
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	font-size: 20px;
	font-size: 2rem;
	margin: 0;
	text-align: center;
	text-shadow: 1px 1px 2px #555;
	text-transform: uppercase;
}
.mpaa .rating {
	display: block;
	font-size: 26px;
	font-size: 2.6rem;
	font-weight: bold;
	text-shadow: 1px 1px 3px #000;
}
.mpaa .reasoning {
	border: solid 1px #fff;
	display: inline-block;
	padding: 0 10px;
	box-shadow: 2px 2px 2px #555;
	
}
.mpaa form {
	text-align: center;
}
.mpaa label,
.mpaa span {
	color: #fff;
	font-weight: normal;
}
.mpaa input {
	background-color: #008;
	border: 1px solid #c5c5c5;
	color: #fff;
}
.mpaa input:hover,
.mpaa input:active,
.mpaa input:focus {
	border-color: #fff;
}
::-webkit-input-placeholder {
	color: #fff;
}
input:-moz-placeholder {
	color: #fff;
}
footer p {
	text-align: center;
	margin-top: 1em;
}