@import url(http://fonts.googleapis.com/css?family=Oxygen|Limelight|Gilda+Display);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Resetting fonts */
/* line 8, ../scss/ratedrapist.scss */
body, .alert, input, button, p > cite {
  font-family: Oxygen, sans;
}

/* line 11, ../scss/ratedrapist.scss */
body {
  background-color: #f5f5f5;
  background-color: rgba(245, 245, 245, 0.3);
}

/* line 15, ../scss/ratedrapist.scss */
h1 {
  font-family: Limelight, serif;
  text-align: center;
}

/* line 19, ../scss/ratedrapist.scss */
cite.title {
  font-style: italic;
}

/* line 22, ../scss/ratedrapist.scss */
form {
  text-align: center;
}

/* hides the results and further-info elements until invoked */
/* line 26, ../scss/ratedrapist.scss */
section.alert {
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  z-index: 10;
}

/* define application states */
/* line 40, ../scss/ratedrapist.scss */
body.state-disambiguate .disambiguation {
  display: block;
}

/* line 46, ../scss/ratedrapist.scss */
body.state-positive .positive.response {
  display: block;
}

/* line 52, ../scss/ratedrapist.scss */
body.state-negative .negative.response {
  display: block;
}

/* line 58, ../scss/ratedrapist.scss */
body.state-further-info #further-info {
  display: block;
}

/* line 63, ../scss/ratedrapist.scss */
section.alert {
  -webkit-box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.4);
}
/* line 66, ../scss/ratedrapist.scss */
section.alert h2 {
  text-align: center;
}
/* line 69, ../scss/ratedrapist.scss */
section.alert ul, section.alert p {
  margin-left: 0.1em;
  font-size: 16px;
  font-size: 1.6em;
  font-size: 1.6rem;
}
/* line 75, ../scss/ratedrapist.scss */
section.alert .icon-info-sign {
  background-color: transparent;
}
/* line 78, ../scss/ratedrapist.scss */
section.alert a.icon-info-sign {
  display: inline-block;
}
/* line 80, ../scss/ratedrapist.scss */
section.alert a.icon-info-sign:hover {
  text-decoration: none;
}
/* line 83, ../scss/ratedrapist.scss */
section.alert a.icon-info-sign:hover, section.alert a.icon-info-sign:visited {
  color: #DF2922;
}
/* line 87, ../scss/ratedrapist.scss */
section.alert .close {
  right: -60px;
  visibility: hidden;
}
/* line 91, ../scss/ratedrapist.scss */
section.alert .close:before {
  visibility: visible;
}
/* line 94, ../scss/ratedrapist.scss */
section.alert .close:hover:before {
  text-decoration: none;
  color: #000;
}

/* line 99, ../scss/ratedrapist.scss */
section.alert.positive ul {
  list-style-type: none;
  margin-left: -0.5em;
}
/* line 102, ../scss/ratedrapist.scss */
section.alert.positive ul li h3 {
  display: inline-block;
  margin-bottom: 0;
}
/* line 106, ../scss/ratedrapist.scss */
section.alert.positive ul li h3 a {
  color: inherit;
}
/* line 109, ../scss/ratedrapist.scss */
section.alert.positive ul li p {
  display: none;
  font-style: italic;
  margin-top: 0;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
/* line 119, ../scss/ratedrapist.scss */
section.alert.positive ul li:target p {
  display: block;
}

/* line 124, ../scss/ratedrapist.scss */
.ohmygod {
  background-color: #fff;
  border-color: #DF2922;
  box-shadow: 5px 5px 10px #000;
}
/* line 128, ../scss/ratedrapist.scss */
.ohmygod p {
  color: #DF2922;
  font-family: "Gilda Display", serif;
  font-size: 22px;
  font-size: 2.2rem;
  text-shadow: 2px 2px 2px 2px #000;
}
/* line 135, ../scss/ratedrapist.scss */
.ohmygod .what {
  font-size: 34em;
  font-size: 3.4rem;
  font-weight: 900;
}

/* line 142, ../scss/ratedrapist.scss */
.the-question span {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
}

/* line 147, ../scss/ratedrapist.scss */
input {
  background-color: #f5f5f5;
  background-color: rgba(245, 245, 245, 0.3);
}

/* line 151, ../scss/ratedrapist.scss */
input[type="submit"] {
  font-weight: bold;
}

/* line 155, ../scss/ratedrapist.scss */
input[type="submit"]:hover,
input[type="text"]:hover {
  border-color: #DF2922;
}

/* line 158, ../scss/ratedrapist.scss */
footer {
  text-align: center;
}

@media only screen and (min-width: 480px) {
  /* 480 =================================================== */
}
@media only screen and (min-width: 600px) {
  /* 600 =================================================== */
  /* line 167, ../scss/ratedrapist.scss */
  section.alert.positive ul li:before {
    content: "\f007";
    font-family: FontAwesome;
    font-size: 21px;
    font-size: 2.1em;
    font-size: 2.1rem;
    padding-right: 5px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 178, ../scss/ratedrapist.scss */
  p.has-citation {
    display: none;
  }

  /* line 181, ../scss/ratedrapist.scss */
  .ohmygod p {
    font-size: 26px;
    font-size: 2.6rem;
  }
}
@media only screen and (min-width: 768px) {
  /* 768 =================================================== */
  /* line 188, ../scss/ratedrapist.scss */
  p.has-citation {
    display: block;
    margin-right: 10px;
  }

  /* line 192, ../scss/ratedrapist.scss */
  .has-citation {
    float: left;
    width: 47%;
  }

  /* line 196, ../scss/ratedrapist.scss */
  blockquote {
    margin: 0;
  }
}
@media only screen and (min-width: 992px) {
  /* 992 =================================================== */
}
@media only screen and (min-width: 1382px) {
  /* 1382 =================================================== */
  /* line 205, ../scss/ratedrapist.scss */
  body {
    max-width: 1440px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* 2x =================================================== */
}
