@import url(http://fonts.googleapis.com/css?family=Oxygen|Limelight|Gilda+Display);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Resetting fonts */
/* line 8, ../scss/ratedrapist.scss */
body, .alert, input, button, p > cite {
  font-family: Oxygen, sans;
}

/* line 11, ../scss/ratedrapist.scss */
body {
  background-color: #f5f5f5;
  background-color: rgba(245, 245, 245, 0.3);
}

/* line 15, ../scss/ratedrapist.scss */
h1 {
  font-family: Limelight, serif;
  text-align: center;
}

/* line 19, ../scss/ratedrapist.scss */
cite.title {
  font-style: italic;
}

/* line 22, ../scss/ratedrapist.scss */
form {
  text-align: center;
}

/* hides the results and further-info elements until invoked */
/* line 26, ../scss/ratedrapist.scss */
section.alert {
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  z-index: 10;
}

/* line 34, ../scss/ratedrapist.scss */
section.alert-error {
  top: 50%;
}

/* define application states */
/* line 43, ../scss/ratedrapist.scss */
body.state-disambiguate .disambiguation {
  display: block;
}

/* line 49, ../scss/ratedrapist.scss */
body.state-positive .blacklist, body.state-positive .positive.response {
  display: block;
}

/* line 55, ../scss/ratedrapist.scss */
body.state-negative .negative.response {
  display: block;
}

/* line 61, ../scss/ratedrapist.scss */
.response h2 {
  text-align: center;
}
/* line 64, ../scss/ratedrapist.scss */
.response .icon-info-sign {
  background-color: transparent;
}
/* line 67, ../scss/ratedrapist.scss */
.response a.icon-info-sign {
  display: inline-block;
}
/* line 69, ../scss/ratedrapist.scss */
.response a.icon-info-sign:hover {
  text-decoration: none;
}
/* line 72, ../scss/ratedrapist.scss */
.response a.icon-info-sign:hover, .response a.icon-info-sign:visited {
  color: #DF2922;
}

/* line 78, ../scss/ratedrapist.scss */
.alert p {
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 83, ../scss/ratedrapist.scss */
.ohmygod {
  background-color: #fff;
  border-color: #DF2922;
  box-shadow: 5px 5px 10px #000;
}
/* line 87, ../scss/ratedrapist.scss */
.ohmygod p {
  color: #DF2922;
  font-family: "Gilda Display", serif;
  font-size: 22px;
  font-size: 2.2rem;
  text-shadow: 2px 2px 2px 2px #000;
}
/* line 94, ../scss/ratedrapist.scss */
.ohmygod .what {
  font-size: 34em;
  font-size: 3.4rem;
  font-weight: 900;
}

/* line 101, ../scss/ratedrapist.scss */
.the-question span {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
}

/* line 106, ../scss/ratedrapist.scss */
input {
  background-color: #f5f5f5;
  background-color: rgba(245, 245, 245, 0.3);
}

/* line 110, ../scss/ratedrapist.scss */
input[type="submit"] {
  font-weight: bold;
}

/* line 114, ../scss/ratedrapist.scss */
input[type="submit"]:hover,
input[type="text"]:hover {
  border-color: #DF2922;
}

/* line 117, ../scss/ratedrapist.scss */
footer {
  text-align: center;
}

@media only screen and (min-width: 480px) {
  /* 480 =================================================== */
}
@media only screen and (min-width: 600px) {
  /* 600 =================================================== */
}
@media only screen and (max-width: 768px) {
  /* line 127, ../scss/ratedrapist.scss */
  p.has-citation {
    display: none;
  }

  /* line 130, ../scss/ratedrapist.scss */
  .ohmygod p {
    font-size: 26px;
    font-size: 2.6rem;
  }
}
@media only screen and (min-width: 768px) {
  /* 768 =================================================== */
  /* line 137, ../scss/ratedrapist.scss */
  p.has-citation {
    display: block;
    margin-right: 10px;
  }

  /* line 141, ../scss/ratedrapist.scss */
  .has-citation {
    float: left;
    width: 47%;
  }

  /* line 145, ../scss/ratedrapist.scss */
  blockquote {
    margin: 0;
  }
}
@media only screen and (min-width: 992px) {
  /* 992 =================================================== */
}
@media only screen and (min-width: 1382px) {
  /* 1382 =================================================== */
  /* line 154, ../scss/ratedrapist.scss */
  body {
    max-width: 1440px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* 2x =================================================== */
}
